<?xml version="1.0" encoding="UTF-8"?>

<!--
       *************************************************
       * Java Reskilling - Projeto Capgemini           *
       * Aula01 - Turma 01                             *
       * Instrutor: Bruno                              *
       * ex 01 - baseado na alua de listar filmes      *
       ************************************************* 
-->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>aula01_ativ01_musica_expert</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name> Servlet Musica </servlet-name>
  	<servlet-class> com.capgemini.web.music.MusicaServlet </servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name> Servlet Musica </servlet-name>
  	<url-pattern> /selecionarmusica.do </url-pattern>
  </servlet-mapping>
</web-app>